p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.announcement {
	background-color: #F5A8E2;
	width: 100%;
	height: 30px;
}
body{
	text-align: center;
	background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
 
	
}
html {
	scroll-behavior: smooth;
	
}
#map iframe {
	width: 50%;
	float: left;
	padding-top: 5px;
}
#myNavbar1{
    float: top;
    position: fixed;
    background-color: black;
}
.contact_1 h3 {
	display: inline;
}
.contact_1 a {
	text-shadow: none;
}

.container
{
    text-align: center;
}
#img1{
  width: 100%;
}
.img2{
    width: 250px;
    height: 200px;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }

.modal-body
{
    text-align: center
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    height: 350px;
       }

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
h1 {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    
}

